* {
    background-color: rgb(219, 245, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(36, 36, 36);
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(65, 97, 137);
    max-width: 700px;
    border-radius: 60px;
    color: azure;
    font-weight: lighter;
}

.autores {
    text-align: center;
}


h2 {
    font-size: 22px;
    margin: 30px 0 20px 120px; 
    padding: 10px;
    color: rgb(36, 36, 36);
}

p { 
    margin: 20px 130px;
    text-align: justify;
    font-size: 18px;
}

.img1 {
   text-align: center;
}

.img2 {
    text-align: center;
    padding: 10px;
}

.img3 {
    float: left;
    margin-left: 130px;
    padding: 0 20px 20px 0;
}

.infografico {
    float: right;
    margin-right: 100px;
    margin-top: 20px;
    padding: 0 30px;

}

.video {
    text-align: center;
    padding: 20px;
    
}

.footer {
	background-color:rgb(65, 97, 137);
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
    font-size: 16px;
}


